@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>平台介绍</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css?v=1.0.0.4" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/css/framework-about.css" rel="stylesheet" />
</head>
<body>
    <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                MES管理系统
            </div>
            <div class="panel-body">
                <p>MES(Manufacturing Execution System)即制造企业生产过程执行系统，是一套面向制造企业车间执行层的生产信息化管理系统</p>
                <p>MES侧重在车间作业计划的执行，充实了软件在车间控制和车间调度方面的功能，以适应车间现场环境多变情况下的需求</p>
                <p>优化企业生产制造管理模式，强化过程管理和控制，达到精细化管理目的</p>
                <p>加强各生产部门的协同办公能力，提高工作效率、降低生产成本。</p>
                <p>提高生产数据统计分析的及时性、准确性，避免人为干扰，促使企业管理标准化。</p>
                <p>为企业的产品、中间产品、原材料等质量检验提供有效、规范的管理支持。</p>
                <p>实时掌控计划、调度、质量、工艺、装置运行等信息情况，使各相关部门及时发现问题和解决问题。</p>
                <p>最终可利用 MES系统建立起规范的生产管理信息平台，使企业内部现场控制层与管理层之间的信息互联互通，以此提高企业核心竞争力。</p>
            </div>
        </div>
    </div>
</body>
</html>
